body {
  font-family: 'roboto',verdana,sans-serif,tahoma,arial;
  font-size:16px;
  background-color: #fff;
  color:#000;
}
input {
    width: 100%;
    padding: 5px 5px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:28px;
    font-family: courier,courier-new;
    text-transform: uppercase;
}
header {
  background-color: #636363;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: #fff;
}
textarea{
  font-family: courier,courier-new;
  background-color: #000!important;
  color:#45a049!important;
}
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:18px;
}
button:hover {
    background-color: #45a049;
}
table {
  width: 100%;
}
td {
  width: 50%;
}
dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 0;
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
dialog h1 {
	background-color: #eee;
	font-size: 14pt;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 4pt;
	border-bottom: 1px solid black;
}
dialog div {
	padding: 10pt;
}
#content {
  margin-top: 40px; 
}