body {
  font-family: verdana,sans-serif,tahoma,arial;
  font-size:16px;
  background-color: #ccc;
  color:#000;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:17px;
    font-weight:bold;
}
textarea{
  font-family: courier,courier-new;
}
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
table {
  width: 100%;
}
td {
  width: 50%;
}
dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 0;
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
dialog h1 {
	background-color: #eee;
	font-size: 14pt;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 4pt;
	border-bottom: 1px solid black;
}
dialog div {
	padding: 10pt;
}